body {
	background-color: rgb(55, 107, 167);
	font-family: 'Righteous', sans-serif;
	color: rgb(186, 211, 247);
}
.welcome {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	float: left;
}
.pigeon-trivia {
	display: flex;
	align-items: center;
}

.trivia-card {
	color: rgb(55, 107, 167);
	background-color: rgb(112, 149, 194);
	/* box-shadow: 0px 0px 10px black; */
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;

	background: linear-gradient(
		135deg,
		transparent 40px,
		rgb(112, 149, 194) 20px
	);

	/* border-radius: 15px; */
	text-align: center;
	padding: 60px;
	margin: 40px;
	width: 65%;
	border-right: 5px solid rgb(59, 165, 160);
	border-bottom: 5px solid rgb(59, 165, 160);
}
.winner-not-active {
	display: none;
}
.active {
	display: flex;
	color: white;
	border: 5px solid white;
	height: 75vh;
	width: 75vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 500;
	top: 10vh;
	left: 10vw;
	background-color: purple;
	padding: 40px;
}

.trivia-button {
	color: rgb(55, 107, 167);
	border: 3px solid rgb(59, 165, 160);
	border-radius: 5px;
	background-color: rgb(171, 208, 241);
	width: 300px;
	height: 75px;
	margin-top: 10px;
	font-size: 1.5em;
	font-family: 'Righteous', cursive;
}

.trivia-button:hover {
	opacity: 0.7;
	border-color: white;
}

.trivia-button:focus {
	outline: none;
}

.response-card {
	border: 5px solid rgb(59, 165, 160);
	border-radius: 15px;
	background-color: skyblue;
	padding: 60px;
}

.button-container {
	margin-top: 60px;
}

.egg-image {
	margin-right: 30px;
	width: 30%;
}

.close-modal {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
	margin-top: 10px;
	width: 75px;
	height: 40px;
}
.response-doNot-show {
	display: none;
}
.trivia-response {
	text-decoration: underline;
	color: rgb(142, 3, 142);
}
