body {
	background-color: rgb(90, 126, 168);
	font-family: 'Fira Sans', sans-serif;
}
.welcome {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	float: left;
}
.pigeon-trivia {
	display: flex;
	align-items: center;
}

.trivia-card {
	background-color: rgb(112, 149, 194);
	border: 2px solid rgb(59, 165, 160);
	border-radius: 15px;
	text-align: center;
	padding: 60px;
	margin: 40px;
	width: 65%;

}
.winner-not-active {
	display: none;
}
.active {
	display: flex;
	color: white;
	border: 5px solid white;
	height: 75vh;
	width: 75vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 500;
	top: 10vh;
	left: 10vw;
	background-color: purple;
	padding: 40px;
	

}

.trivia-button {
	border: 3px solid  rgb(59, 165, 160);
	border-radius: 5px;
	color:  rgb(17, 1, 32);
	background-color: rgb(171, 208, 241);
	width: 300px;
	height: 75px;
	margin-top: 10px;
	font-size: 1.5em;
	


}

.trivia-button:hover {
	opacity: .7;
	border-color: white;
}

.trivia-button:focus {
	outline: none;
}

.response-card {
	border: 5px solid rgb(59, 165, 160);
	border-radius: 15px;
	background-color: skyblue;
	padding: 60px;
	
}

.button-container {
	margin-top: 60px;
}

.pigeon-image {
	margin-left: 30px;
}

.close-modal {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
	margin-top: 10px;
	width: 75px;
	height: 40px;
	
}